.header{
    display: flex;
    justify-content:space-between;
    align-items: center;

    border-top: 8px solid rgb(9, 83, 167);
    border-bottom: 8px solid rgb(233, 203, 33);
}

.header__icon{
    padding: 20px;
}